services:
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    container_name: fraud-detection-opensearch
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=Admin@123"
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - fincube23_network
 
  mongodb:
    image: mongo:7.0
    container_name: fraud-detection-mongodb
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongodb-data:/data/db
    networks:
      - fincube23_network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
 
  api:
    build: .
    container_name: fraud-detection-api
    ports:
      - "8007:8000"
    environment:
      - OPENSEARCH_HOST=opensearch
      - OPENSEARCH_PORT=9200
    env_file:
      - .env
    depends_on:
      - opensearch
      - mongodb
    networks:
      - fincube23_network
    volumes:
      - ./app:/app/app
    command: /wait-for-opensearch.sh opensearch:9200 uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
 
volumes:
  opensearch-data:
  mongodb-data:
 
 
networks:
  fincube23_network:
    external: true
 